header{
  width: 98.4vw;
  text-align: center;
  background-color: #0a3d62;
  margin: 0;
  padding: 10px;
  position: relative;
  border-top: solid 1px #6a89cc;
  border-bottom: solid 1px #6a89cc;

  h1 {
    text-shadow: lightgray 4px 4px 20px;
  }
}
