.face-snap-card{
  margin: 1.3vw;
  padding: .9px;
  border: solid #ecf0f1 11px;
  border-radius: 75px;
  box-shadow: lightgray 4px 4px 20px;

  img{
    min-width: 16vw;
    max-width: 16vw;
    min-height: 18vw;
    max-height: 18vw;
    border-top: solid #ecf0f1 2px;
    border-bottom: solid #ecf0f1 2px;
  }
  h2,h3,p,img{
    text-align: center;
  }
  button{
    margin: 0.7vw;
    color: #ecf0f1;
    font-size:large;
    background-color: #2ecc71;
    border: solid #ecf0f1 3px;
    border-radius: 75px;
    box-shadow: lightgray 4px 4px 20px;
    &:active {
      transform: translate(2px, 2px);
    }
  }
}

.snapped {
  background-color: #ff6b81;
  color: darkolivegreen;
  button {
    box-shadow: lightgreen 3px 3px 3px;
  }
}
