* {
  font-family: Roboto, Helvetica, sans-serif;
  color: #ecf0f1;
  }

.container{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 3vw;
  background-color: #2c3e50;
}
